
<div class="form-group" >
  <%= form_with model:task, local:true do |f| %>
    <table id="dtBasicExample" class="table" >
      <thead>
          <tr>
            <th class="mb-3 flexbox">
              <%= f.label :title, "件名" %>
        			<%= f.text_field :title, autocomplete: "title", placeholder: "件名", class: "title" %>
          	</th>
            <th class="mb-3 flexbox">
              <%= f.label :genre_id, "ジャンル"%>
              <%= f.collection_select :genre_id, Genre.all, :id, :name %>
            </th>
            <th class="mb-3 flexbox">
              <%= f.label :body, "内容" %>
        			<%= f.text_area :body, autocomplete: "body", placeholder: "内容", class: "content", rows:'5' %>
          	</th>
            <th class="mb-3 flexbox">
              <%=  f.label :due_date, "期日"%>
            	<%= f.date_field :due_date %>
            </th>
            <th class="mb-3 flexbox">
              <%= f.label :person_name, "担当者" %>
      				<%= f.text_field :person_name, autocomplete: "name", placeholder: "担当者", class: "content" %>
          	</th>
            <th class="flexbox">
      				<%= f.submit "作成", class: 'btn btn-success' %>
      	    </th>
          </tr>
      </thead>
    </table>
  <% end %>
</div>