
	
	

<table id="dtBasicExample" class="table" cellspacing="0" width="100%">
<thead>
<%= form_with model:task, local:true do |f| %>
    <tr>
      <th class="th-sm"><%= f.label :title, "件名" %>
			<%= f.text_field :title, autocomplete: "title", placeholder: "件名", class: "title" %>
    	</th>

      <th class="th-sm"><%= f.label :body, "内容" %>
			<%= f.text_field :body, autocomplete: "body", placeholder: "内容", class: "content" %>
    	</th>
      <th class="th-sm"><%=  f.label :due_date, "期日"%>
    	<%= f.date_field :due_date %>
      </th>
      <th class="th-sm"><%= f.label :genre_id, "ジャンル"%>
      	<%= f.collection_select :genre_id, Genre.all, :id, :name %>
      </th>
      <th class="th-sm"><%= f.label :person_name, "担当者" %>
				<%= f.text_field :person_name, autocomplete: "name", placeholder: "担当者", class: "content" %>
    	</th>

      <th class="th-sm">
				<%= f.submit "作成", class: 'btn btn-success' %>
	    </th>
    </tr>

<% end %>

</thead>
</table>