
<div class='container'>

	<div class='row'>
		<div class="col-md-8"><span><h1>タスク一覧</h1></span></div>
		<div class="col-md-6">
				<form class="form-inline mt-2 mt-md-0">
				<%= search_form_for @q, url: search_tasks_path do |f| %>
				  <%= f.search_field :title_cont, class: "form-control mr-sm-2"%>
				  <span class="input-group-btn">
					  <%= f.submit '検索',class: "btn btn-outline-success" %>
				   </span>
			  <% end %>
			   </form>
		</div>
       
		<div class="col-md-13">
			<%= render 'form', task: @task %>
				<table id="dtBasicExample" class="table" cellspacing="0" width="100%">
			  <thead>
			    <tr>
			    	<th class="th-sm">ID
			    	</th>
			      <th class="th-sm">件名
			    	</th>
			      <th class="th-sm">ジャンル
			    	</th>
			      <th class="th-sm">内容
			      </th>
			      <th class="th-sm">納期
			      </th>
			      <th class="th-sm">担当者
			      </th>
			      <th class="th-sm">機能
			      </th>

			    </tr>
			  </thead>
				<tbody>
					<% @tasks.order(due_date: :asc).each do |task| %>
							<% if (task.due_date - Date.today) < 0 %>
								<tr class="over-head">
									<td><%= task.id %></td>
									<td ><%= task.title %></td>
									<td><%= Genre.find(task.genre_id).name %></td>
									<td><%= task.body %></td>
									<td><%= task.due_date %></td>
									<td><%= task.person_name %></td>
									<td>
									<%= render "public/favorites/btn", task: task %>
										コメント数: <%= task.post_comments.count %>
										<%= link_to "詳細", task_path(task), class: "btn btn-primary" %>
										<%= link_to "編集", edit_task_path(task), class: "btn btn-success" %>
										<%= link_to "削除", task_path(task), method: :delete, "data-confirm" => "削除します。本当によろしいですか？", class: "btn btn-danger" %>
									</td>
								</tr>
								<% elsif(task.due_date - Date.today) <= 7 %>
								<tr class="danger-head">
									<td><%= task.id %></td>
									<td ><%= task.title %></td>
									<td><%= Genre.find(task.genre_id).name %></td>
									<td><%= task.body %></td>
									<td><%= task.due_date %></td>
									<td><%= User.find(task.user_id).last_name %></td>
									<td>
									<%= render "public/favorites/btn", task: task %>
										コメント数: <%= task.post_comments.count %>
										<%= link_to "詳細", task_path(task), class: "btn btn-primary" %>
										<%= link_to "編集", edit_task_path(task), class: "btn btn-success" %>
										<%= link_to "削除", task_path(task), method: :delete, "data-confirm" => "削除します。本当によろしいですか？", class: "btn btn-danger" %>
									</td>
								</tr>
							<% else(task.due_date - Date.today)%>
								<tr class="t-head">
									<td><%= task.id %></td>
									<td ><%= task.title %></td>
									<td><%= Genre.find(task.genre_id).name %></td>
									<td><%= task.body %></td>
									<td><%= task.due_date %></td>
									<td><%= User.find(task.user_id).last_name %></td>
									<td>
									<%= render "public/favorites/btn", task: task %>
										コメント数: <%= task.post_comments.count %>
										<%= button_to 'Done', done_path(task), method: :post %>
										<%= link_to "詳細", task_path(task), class: "btn btn-primary" %>
										<%= link_to "編集", edit_task_path(task), class: "btn btn-success" %>
										<%= link_to "削除", task_path(task), method: :delete, "data-confirm" => "削除します。本当によろしいですか？", class: "btn btn-danger" %>
									</td>
								</tr>
							<% end %>
				 <% end %>
		  	</tbody>
			</table>
		 </div>
	</div>
</div>




