<% if @task.errors.any? %>
  There are <%= @task.errors.count %> error(s)
  <ul>
    <% @task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<div class="container mt-5">
  <h1>New Task</h1>
    <%= form_with model:@task, class: "row g-3", local:true do |f| %>
      <div class="col-md-8">
        <%= f.label :title, "Title",:class => 'form-lable' %>
  			<%= f.text_field :title, autocomplete: "title", placeholder: "Title", class: "form-control" %>
    	</div>
      <div class="col-md-4">
        <%=  f.label :due_date, "Due_date",:class => 'form-lable'%>
      	<%= f.date_field :due_date, class: "form-control"%>
      </div>
      <div class="col-md-6">
        <%= f.label :genre_id, "Genre", :class => 'form-lable'%>
        <%= f.collection_select :genre_id, Genre.all, :id, :name,{ prompt: '選択してください' }, class: "form-control"%>
      </div>
      <div class="col-md-6">
        <%= f.label :person_name, "In charge", :class => 'form-lable' %>
				<%= f.text_field :person_name, autocomplete: "name", placeholder: "In charge" , class: "form-control"%>
			</div>
      <div class="col-md-12">
        <%= f.label :body, "Content", :class => 'form-lable'%>
  			<%= f.text_area :body, autocomplete: "body", placeholder: "Content", class: "form-control", rows:'15' %>
    	</div>
      <div class="col-md-12" style="margin-top : 10px">
				<%= f.submit "Create", class: 'btn btn-success' %>
	    </div>
  <% end %>
</div>
