<div style="margin-top : 100px"></div>
<div class='container px-5 px-sm-0'>
<table id="dtBasicExample" class="table" cellspacing="0" width="100%">
<thead>
    <tr>
    	<th class="th-sm">ID
    	</th>
      <th class="th-sm">件名
    	</th>
      <th class="th-sm">ジャンル
    	</th>
      <th class="th-sm">内容
      </th>
      <th class="th-sm">納期
      </th>
      <th class="th-sm">担当者
      </th>
      <th class="th-sm">機能
      </th>
    </tr>
  </thead>
  <tbody>
			<% @results.each do |task| %>
				<tr>
					<td><%= task.id %></td>
					<td ><%= task.title %></td>
					<td><%= Genre.find(task.genre_id).name %></td>
					<td><%= task.body %></td>
					<td><%= task.due_date %></td>
					<td><%= task.person_name %></td>
					<td>
					<%= render "public/favorites/btn", task: task %>
						コメント数: <%= task.post_comments.count %>
						<%= link_to "詳細", task_path(task), class: "btn btn-primary" %>
						<%= link_to "編集", edit_task_path(task), class: "btn btn-success" %>
						<%= link_to "削除", task_path(task), method: :delete, "data-confirm" => "削除します。本当によろしいですか？", class: "btn btn-danger" %>
					</td>
				</tr>
			<% end %>
  		</tbody>
		</table>

<%= link_to '一覧へ', tasks_path %>
</div>
