
<div class='container_fluids'>
      <h2>ユーザー一覧</h2>
    <div class='col-md-8'>
      <table class='table'>
        <thead>
          <tr>
          <th>ID</th>
      		<th>名前</th>
      		<th>フリガナ</th>
      		<th>メールアドレス</th>
      		<th>電話番号</th>
      		<th>備考</th>
      		<th>ユーザーステータス(false退会)</th>
      		<th>機能</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.full_name %></td>
              <td><%= user.full_name_kana %></td>
              <td><%= user.email %></td>
              <td><%= user.telephone_number %></td>
              <td><%= user.introduction %></td>
              <td><%= user.is_active %></td>
              <td><%= link_to "退会", admin_user_path(user), method: :patch, "data-confirm" => "OKを押すと退会処理がされます。本当によろしいですか？", class: "btn btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>




